<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head lang="pl">
    <title>Product list</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card bg-light mb-3">
        <div class="card-header">Add product</div>
        <div class="card-body">
            ...
        </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header">Products</div>
        <div class="card-body">
            ....
        </div>
    </div>
</div>
</body>
</html>